.navContainer {
    height: var(--nav-height);
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--padding-block-medium);
    padding-inline: var(--padding-inline-xlarge);
    background-color: rgb(70, 70, 70);
}

.navLogoContainer {
    height: 90%;
    aspect-ratio: 883/187;
}

.navLogo {
    max-width: 100%;
    max-height: 100%;
}

.listContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-medium);
    /*remove bullet points*/
    list-style-type: none;
}

.listContainer li button,
.listContainer li a {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: var(--font-size-medium);
    cursor: pointer;
}

.hamburgerMenuIcon {
    display: none;
}

.dropDownContainer {
    display: flex;
    position: fixed;
    top: var(--nav-height);
    right: -100vw;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    transition: transform 0.5s ease-in-out;
    flex-direction: column;
    gap: var(--gap-medium);
    padding-block-start: var(--padding-block-small);
    padding-block-end: var(--padding-block-large);
    padding-inline: var(--padding-inline-large);
    z-index: 1;
    background: rgb(255, 69, 0);
}

.dropDownListContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--gap-medium);
    /*remove bullet points*/
    list-style-type: none;
}

.dropDownListContainer li button,
.dropDownListContainer li a {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: var(--font-size-medium);
    cursor: pointer;
}

.dropDownContainerActive {
    animation: slide-left 0.5s ease-in-out forwards;
}

.dropDownContainerInactive {
    animation: slide-right 0.5s ease-in-out forwards;
}

.openMenu {
    animation-name: openMenuAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.closeMenu {
    animation-name: closeMenuAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes openMenuAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes closeMenuAnimation {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 820px) {
    .navContainer {
        padding-inline: var(--padding-inline-large);
    }

    .listContainer li {
        font-size: var(--font-size-medium);
    }
}

@media (max-width: 730px) {
    .listContainer li {
        font-size: var(--font-size-small);
    }
}

@media (max-width: 670px) {
    .listContainer {
        display: none;
    }

    .hamburgerMenuIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.75);
        font-size: var(--font-size-xlarge);
        border: 1px solid rgba(255, 255, 255, 0.25);
        padding-block: 2px;
        padding-inline: var(--padding-inline-small);
    }

    .hamburgerMenuIcon:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

@keyframes slide-left {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes slide-right {
    0% {
        right: 0;
    }
    100% {
        right: -100%;
    }
}
