.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - var(--nav-height));
    overflow-y: auto;
}
/*
background: rgb(255, 69, 0);
    background: linear-gradient(
        90deg,
        rgba(255, 69, 0, 1) 41%,
        rgba(255, 168, 0, 1) 100%
    );
*/

.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-large);
    align-items: center;
    width: 100%;
    padding-block: var(--padding-block-xlarge);
    padding-inline: var(--padding-inline-x2large);
    background-image: linear-gradient(
        135deg,
        hsl(16deg 100% 50%) 0%,
        hsl(16deg 100% 50%) 7%,
        hsl(16deg 100% 50%) 13%,
        hsl(16deg 100% 50%) 18%,
        hsl(16deg 100% 50%) 22%,
        hsl(16deg 100% 50%) 26%,
        hsl(16deg 100% 50%) 30%,
        hsl(16deg 100% 50%) 33%,
        hsl(18deg 100% 50%) 36%,
        hsl(22deg 100% 50%) 39%,
        hsl(26deg 100% 50%) 42%,
        hsl(29deg 100% 50%) 45%,
        hsl(32deg 100% 50%) 47%,
        hsl(34deg 100% 50%) 49%,
        hsl(37deg 100% 50%) 52%,
        hsl(39deg 100% 50%) 54%,
        hsl(38deg 100% 51%) 57%,
        hsl(37deg 100% 52%) 59%,
        hsl(35deg 99% 52%) 62%,
        hsl(34deg 99% 53%) 65%,
        hsl(32deg 99% 53%) 68%,
        hsl(31deg 99% 53%) 72%,
        hsl(29deg 99% 53%) 78%,
        hsl(27deg 98% 54%) 91%
    );
}

.heroSection .textContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-large);
}

.heroSection .titleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--gap-medium);
}

.heroTitle {
    font-size: var(--font-size-x3large);

    color: white;
    letter-spacing: -0.05ch;
    /*make the distance between lines smaller*/
    line-height: 1.1;
}

.heroText {
    font-size: var(--font-size-xlarge);
    color: white;
}

.heroImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 300px;
    min-width: 150px;
    aspect-ratio: 1/1;
}

.heroImage {
    max-width: 100%;
    max-height: 100%;
}

.actionButton {
    width: 150px;
    padding-block: var(--padding-block-medium);
    padding-inline: var(--padding-inline-large);
    border-radius: 25px;
    border: none;
    font-size: var(--font-size-large);
    background-color: rgb(255, 69, 0);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

@media (max-width: 730px) {
    .heroImageContainer {
        display: none;
    }

    .heroSection {
        padding-inline: var(--padding-inline-medium);
    }

    .heroSection .titleSection {
        text-align: center;
        gap: var(--gap-large);
    }
}

@media (max-width: 500px) {
    .heroSection {
        padding-block-start: var(--padding-block-large);
    }
}
